
div.setButton
{
	padding:10 30 10 30;
	background-image:linear-gradient(#222222, #111111);
	border-radius:5px;
	margin:10 0 10 0;
	width:200px;
}

div.setButton:hover
{
	background-image:linear-gradient(#333333, #111111);
}

a.setButton:link
{
	text-decoration:none;
	color:white;
}

a.setButton:visited
{
	text-decoration:none;
	color:white;
}

a.setButton:hover
{
	text-decoration:none;
	color:white;
}

a.setButton:active
{
	text-decoration:none;
	color:blue;
}

div.stockMenuButton
{
	background-image:linear-gradient(#222222, #111111);
	border-radius:5px;
	display:inline;
	padding:5 10 5 10;
}

div.stockMenuButton:hover
{
	background-image:linear-gradient(#333333, #111111);
}

a.stockMenuButton:link
{
	text-decoration:none;
	color:white;
}

a.stockMenuButton:visited
{
	text-decoration:none;
	color:white;
}

a.stockMenuButton:hover
{
	text-decoration:none;
	color:white;
}

a.stockMenuButton:active
{
	text-decoration:none;
	color:blue;
}

.progressionSet
{
	background-image:linear-gradient(#222222, #111111);
	border-radius:5px;
	padding:5 10 5 10;
	margin:5 0 5 0;
	width:500px;
}

.progressionFullSet
{
	background-image:linear-gradient(#f1fa78, #111111);
	border-radius:5px;
	padding:5 10 5 10;
	margin:5 0 5 0;
	width:500px;
	color:black;
	font-weight:bold;
}

tr
{
	background-image:linear-gradient(#222222, #111111);
}

tr:hover
{
	background-image:linear-gradient(#333333, #111111);
}

th
{
	background-image:linear-gradient(#222222, #000000);
}

a.standard_link:link
{
	text-decoration:none;
	color:white;
}

a.standard_link:visited
{
	color:white;
}

a.standard_link:hover
{
	text-decoration:underline;
	color:#aaaaaa;
}

.green
{
	color: green;
}

.red
{
	color: red;
}

.down:before
{
	content: '▼';
}

.up:before
{
	content: '▲';
}
